{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-8">
        <h1>Pepe</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores dolor error, sit saepe odio, numquam praesentium in architecto voluptatum perferendis rem, illo quidem non dolores quam dolorum soluta. Temporibus, incidunt.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/nodeLogo.png" class="img-thumbnail">
    </div>
</div>

{{>footer}}